<div style="width: 410px;height:470px" class="flex">
    <div  class=" m-auto w-1/12 hover:w-5/12 bg-blue-400 h-full transition-all"> 
        <%- include('menu/menu.ejs') %> 
    </div>
    <div   class="container h-full m-auto w-11/12 bg-cover  bg-white flex bg-[url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8eWVsbG93JTIwYm9va3xlbnwwfHwwfHw%3D&w=1000&q=80')]  items-center flex-col text-center">
        <div class="mt-20">
            <% if (message) { %>
                <p class="text-xl font-bold"> <%= message %> </p>
             <% } else { %>
                <p class="text-xl font-bold"> Reset Password !</p>
            <% } %>
            
        </div>
       <form action="/resetpass/<%= token %>" method="post" class="w-full pt-2 transition-all px-5">
        <div class="my-4 flex">
            <input class="w-full   h-8 pl-10 font-bold focus:border-none focus:outline-none" type="password" name="new_password" id="" placeholder="New Password"><i class="fas fa-lock absolute mt-2 ml-2"></i>
        </div>
        <div class="my-4 flex">
            <input class="w-full   h-8 pl-10 font-bold focus:border-none focus:outline-none" type="password" name="comp_password" id="" placeholder="Confirm Password"><i class="fas fa-lock absolute mt-2 ml-2"></i>
        </div>
        <div class="my-4">
            <button class="w-full  block bg-blue-400  h-8 py-1 transition-all uppercase hover:bg-pink-400 hover:text-white  font-bold " type="submit" >Reset</button>
        </div>
        <span class="font-bold">Already i have an Password ?</span> <a href="/login" class="font-bold text-pink-700">Login!</a>
       </form>
    </div>
</div>