<ul class="flex w-full h-full flex-col justify-evenly items-start">
    <li></li>
    <li class="px-1 py-1"><a href="/" class="flex justify-evenly items-center text-pink-900 font-bold "><i class="fas fa-home mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span class="">Home</span></a></li>
    <li class="px-1 py-1" ><a href="/profile" class="flex text-pink-900 justify-evenly items-center text-pink-900 font-bold "><i class="fas fa-user mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span>Profile</span></a></li>
    <li class="px-1 py-1" ><a href="/photo" class="flex text-pink-900 justify-evenly items-center text-pink-900 font-bold "><i class="fas fa-image mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span>Photo</span></a></li>
    <li class="px-1 py-1" ><a href="/friends" class="flex text-pink-900 justify-evenly items-center text-pink-900 font-bold "><i class="fa-solid fa-user-group mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span>Friends</span></a></li>
    <li class="px-1 py-1" ><a href="/edit" class="flex text-pink-900 justify-evenly items-center text-pink-900 font-bold "><i class="fas fa-edit mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span>Edit</span></a></li>
    <li class="px-1 py-1" ><a href="/password" class="flex text-pink-900 justify-evenly items-center text-pink-900 font-bold "><i class="fas fa-lock mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span>Password</span></a></li>
    <li class="px-1 py-1" ><a href="/gallery" class="flex text-pink-900 justify-evenly items-center text-pink-900 font-bold "><i class="fas fa-images mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span>Gallery</span></a></li>
    <li class="px-1 py-1" ><a href="/signup" class="flex text-pink-900 justify-evenly items-center text-pink-900 font-bold "><i class="fa-solid fa-user-plus flex text-pink-900  mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span>Sign Up</span></a></li>
    <li class="px-1 py-1" ><a href="/login" class="flex text-pink-900 justify-evenly items-center text-pink-900 font-bold "><i class="fa-solid fa-right-to-bracket mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span>Login</span></a></li>
    <li class="px-1 py-1" ><a href="/logout" class="flex text-pink-900 justify-evenly items-center text-pink-900 font-bold "><i class="fa-solid fa-right-from-bracket mr-5 bg-pink-900 text-sm w-7 h-7  pl-2 pt-1 text-white rounded-full"></i><span>Logout</span></a></li>
    <li></li>
</ul>